<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Affichez l'ensemble des programmes par thématique">
    <title>Moi, candidat - Tous les programmes</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/email-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/static/css/layouts/email.css">
    <!--<![endif]-->
{% block head %}
{% endblock head %}
</head>
<body>


<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u-1">
        <a href="#" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">           
			        {% block menu %}
        			{% endblock menu %}
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
   			        {% block liste %}
        			{% endblock liste %}   
    </div>

    <div id="main" class="pure-u-1">
    			        {% block main %}
        			{% endblock main %} 
    </div>
</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui.js"></script>
<script>
    YUI().use('node-base', 'node-event-delegate', function (Y) {

        var menuButton = Y.one('.nav-menu-button'),
            nav        = Y.one('#nav');

        // Setting the active class name expands the menu vertically on small screens.
        menuButton.on('click', function (e) {
            nav.toggleClass('active');
        });

        // Your application code goes here...

    });
</script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>
</body>
</html>
