{% extends "base.html" %}

{% block head %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
{% endblock head %}

{% block header %}
            <hgroup>
		{% if wizard.steps.step1 == 1 %}
			<h1 class="brand-title">Thématiques</h1>
			<h2 class="brand-tagline">Choisissez les thématiques</h2>
		{% else %}
			<h1 class="brand-title">{{ thematique.nom }}</h1>
			<h2 class="brand-tagline">Choisissez votre proposition</h2>
		{% endif %}
                <h2 class="brand-tagline">{{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h2>
            </hgroup>
{% endblock header %}

{% block content %}
	<form id="thematique" action="" method="post">{% csrf_token %}
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
		{{ form }}
	    {% endfor %}
	{% else %}
	    {{ wizard.form }}
	{% endif %}

	{% if wizard.steps.step1 == 1 %}
	    <input type="submit" value="Demarrer">
	{% else %}
            <div class="posts">
		{% for proposition in thematique.propositions %}
                <section class="post">
                    <div class="post-description" id="proposition-{{ proposition.id }}">
                        <p>{{ proposition.description }}</p>
                    </div>
                </section>
		{% endfor %}
            </div>
	{% endif %}

	</form>
	<script>
	$(function() {
		proposition = $("input[name*='proposition']")
		$(".post-description").bind("click", function() {
			choose = $(this).attr('id').match(/proposition-(\w+)/)[1];
			proposition.val(choose);
			$('#thematique').submit();

		});
	});
	</script>
{% endblock %}
