{% extends "base.html" %}

{% block head %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<style>
	form > label[for="id_0-sous_thematiques_0"] { display: none; }
	input[type="checkbox"] { display: none; }
	ul { padding: 0px;}
	ul > li { list-style-type: none; margin: 5px; padding: 10px; display: flex;}
	ul > li > label {
		border: 3px solid #2A668E;
		background-color: #3E769A;
		padding: 15px;
		border-radius: 5px;
		cursor: pointer;
		width: 100%;
		text-align: center;
		font-family: sans-serif;
		font-size: 24px;
		font-weight: 600;
		color: #fff;
	}
	.selected {
		background-color: #1F8DD6;
	}
	</style>
{% endblock head %}

{% block header %}
            <hgroup>
		{% if wizard.steps.step1 == 1 %}
			<h1 class="brand-title">Thématiques</h1>
			<h2 class="brand-tagline">Choisissez {{ nb_etapes }} thématiques</h2>
		{% else %}
			<h1 class="brand-title">{{ thematique.nom }}</h1>
			<h2 class="brand-tagline">Choisissez votre proposition</h2>
                	<h2 class="brand-tagline">{{ wizard.steps.step0 }} de {{ wizard.steps.last }}</h2>
		{% endif %}
            </hgroup>
{% endblock header %}

{% block content %}
	<form id="thematique" action="" method="post">{% csrf_token %}
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
		{{ form }}
	    {% endfor %}
	{% else %}
	    {{ wizard.form }}
	{% endif %}

	{% if wizard.steps.step1 == 1 %}
	    <!-- First form -->
	{% else %}
            <div class="posts">
		{% for proposition in thematique.propositions %}
                <section class="post">
                    <div class="post-description" id="proposition-{{ proposition.id }}">
                        <p>{{ proposition.description }}</p>
                    </div>
                </section>
		{% endfor %}
            </div>
	{% endif %}

	</form>
	<script>
	$(function() {
		proposition = $("input[name*='proposition']")
		$(".post-description").bind("click", function() {
			choose = $(this).attr('id').match(/proposition-(\w+)/)[1];
			proposition.val(choose);
			$('#thematique').submit();

		});
	});
	$(function() {
		$("input[type=checkbox]").bind("click", function() {
			$(this).parent().toggleClass("selected");
			var t_selected = $(".selected").length;
			if (t_selected == {{ nb_etapes }}) {
			    $('#thematique').submit();
			}
		});
	});
	</script>
{% endblock %}
