{% extends "base.html" %}

{% block head %}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
{% endblock head %}

{% block header %}
            <hgroup>
                <h1 class="brand-title">{{ thematique.nom }}</h1>
                <h2 class="brand-tagline">Choisissez votre proposition</h2>
                <h2 class="brand-tagline">{{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h2>
            </hgroup>
{% endblock header %}

{% block content %}
	<form id="thematique" action="" method="post">{% csrf_token %}
	{{ wizard.management_form }}
	{% if wizard.form.forms %}
	    {{ wizard.form.management_form }}
	    {% for form in wizard.form.forms %}
		{{ form }}
	    {% endfor %}
	{% else %}
	    {{ wizard.form }}
	{% endif %}

            <div class="posts">
		{% for proposition in thematique.proposition_set.all %}
                <section class="post">
                    <div class="post-description" id="proposition-{{ proposition.id }}">
                        <p>{{ proposition.resume }}</p>
                    </div>
                </section>
		{% endfor %}
            </div>

	</form>
	<script>
	$(function() {
		console.log('ready...');
		proposition = $("input[name*='proposition']")
		console.log(proposition);
		$(".post-description").bind("click", function() {
			console.log( "Handler for .click() called." );
			console.log($(this).attr('id'));
			console.log($(this).attr('id').match(/\d+/)[0]);
			choose = $(this).attr('id').match(/\d+/)[0];
			proposition.val(choose);
			$('#thematique').submit();

		});
	});
	</script>
{% endblock %}
