{% extends "base.html" %}


{% block title %}Mon programme politique idéal pour Nantes{% endblock title %}

{% block head %}
	<style>
	.post-description {
		background-color: #fff;
	}
	.post-description:hover {
		cursor:default;
		background-color: #fff;
	}
	</style>
{% endblock head %}

{% block header %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
            <hgroup>
                <h1 class="brand-title">Mon programme</h1>
                <h2 class="brand-tagline">Mes propositions</h2>
            </hgroup>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/resultat/{{ resultat.hashcode }}/">Résultat</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/choisir/">Recommencer</a>
                    </li>
                </ul>
            </nav>
	    <div style="margin-top: 10px;">
	    <div class="fb-share-button" data-href="{{ current_url }}" data-type="button" style="vertical-align: top; margin-bottom: 10px;"></div>
	    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Mon programme politique idéal pour Nantes {{ current_url }}" data-lang="fr" data-related="atelections" data-count="none" data-hashtags="MUN44000">Twitter</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    </div>
{% endblock header %}

{% block content %}

            <div class="posts">
		{% for proposition in propositions %}
                <section class="post">
		    <div>
		    {% with candidat=proposition.candidature.candidats.0 %}
                        <img src="{% if candidat.photo_url %}{{ candidat.photo_url }}{% else %}/static/img/candidat.png{% endif %}" width="64px" style="display: inline-block;"/>
			<div style="display: inline-block; font-size: 2em; font-weight: bold;">
		            <span>{{ proposition.sous_thematique.nom }}</span>
			    <br/>
			    <span style="color: #34495E; font-size: 0.8em;">{{ candidat.prenom }} {{ candidat.nom }}</span>
			</div>
		    {% endwith %}
		    </div>
                    <div class="post-description" id="proposition-{{ proposition.id }}" style="padding: 0px;">
                        <p>{{ proposition.description }}</p>
                    </div>
                </section>
		{% endfor %}
            </div>

{% endblock %}
