{% extends "base_programmes.html" %}

{% block head %}
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/proposition.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/static/js/anim.js"></script>
	</head>
{% endblock head %}

{% block menu %}
	<ul>
	{% for thematique in thematiques %}
			   <li id="thematique_{{thematique.id}}" class="thematique"><a href="#">{{thematique.nom}}</a></li>
	{% endfor %}
			<li id="toutes_les_thematique" class="thematique"><a href="#">toute les thématiques</a></li>
	</ul>
{% endblock menu %}


{% block liste %}
	{% for candidat in candidats %}
	  <div class="email-item email-item-selected pure-g candidat" id="candidat_{{candidat.id}}">
		    <div class="pure-u-3-4">
		        <h5 class="email-name">{{ candidat.prenom}} {{ candidat.nom}}</h5>
		    </div>
		</div>
	{% endfor %}
	  <div class="email-item email-item-selected pure-g candidat" id="touts_les_candidats">
		    <div class="pure-u-3-4">
	<h5 class="email-name">tout(e)s les candidat(e)s</h5>
		    </div>
		</div>
{% endblock liste %}


{% block main %}
	{% for candidat in candidats %}
	      <div class="email-content propositions_candidat" id="proposition_candidat_{{ candidat.id}}">
		    <div class="email-content-header pure-g">
		        <div class="pure-u-1-2">
			    <img class="photo_candidat" src="{{candidat.photo_url}}"/>
		            <h1 class="email-content-title">{{ candidat.prenom}} {{ candidat.nom}}</h1>
		        </div>
		    </div>
		    <div class="email-content-body">
		    <div id='liste_propsition'>		
		{% for proposition in propositions %}
			{% for candidat2 in proposition.candidature.candidats %}
				{% if candidat2.id == candidat.id %}
					<div class="box_proposition post-description
				{% for tag in  proposition.tags %} 
					proposition_thematique_{{tag}}
				{% endfor %}

">
						<h2>{{ proposition.sous_thematique.nom }}</h2>
						<div class="resume">{{ proposition.description }}</div>	
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}

		    </div>
		    </div>
		</div>
	{% endfor %}

{% endblock main %}
