{% extends "base.html" %}


{% block header %}
            <hgroup>
                <h1 class="brand-title">{{ thematique.nom }}</h1>
                <h2 class="brand-tagline">Choisissez votre proposition</h2>
            </hgroup>
{% endblock header %}

{% block content %}

            <div class="posts">
		{% for proposition in thematique.proposition_set.all %}
                <section class="post">
                    <div class="post-description">
                        <p>{{ proposition.resume }}</p>
                    </div>
                </section>
		{% endfor %}
            </div>

{% endblock %}
