{% extends "base.html" %}

{% block title %}J'ai trouvé mon candidat pour Nantes{% endblock title %}

{% block head %}
	<style>
	.post-description {
		background-color: #fff;
	}
	.post-description:hover {
		cursor:default;
		background-color: #fff;
	}
	</style>
{% endblock head %}

{% block header %}
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
            <hgroup>
                <h1 class="brand-title">Votre résultat</h1>
                <h2 class="brand-tagline">Liste de candidats</h2>
            </hgroup>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/mon-programme/{{ resultat.hashcode }}/">Mon programme</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/choisir/">Recommencer</a>
                    </li>
                </ul>
            </nav>
	    <div style="margin-top: 10px;">
	    <div class="fb-share-button" data-href="{{ current_url }}" data-type="button" style="vertical-align: top;"></div>
	    <a href="https://twitter.com/share" class="twitter-share-button" data-text="J'ai trouvé mon candidat pour Nantes {{ current_url }}" data-lang="fr" data-related="atelections" data-count="none" data-hashtags="MUN44000">Twitter</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    </div>
{% endblock header %}

{% block content %}

            <div class="posts">
		{% for result in results %}
                <section class="post">
                    <header class="post-header">
			{% if result.1.photo_url %}
		    	<img src="{{ result.1.photo_url }}" width="110px" style="display: inline-block;"/>
			{% else %}
			<img src="/static/img/candidat.png" width="110px" style="display: inline-block;"/>
			{% endif %}
			<div style="display: inline-block; height: 110px; font-family: sans-serif; font-size: 6em; font-weight: bold;">
				<span class="result-percent" style="">{{ result.0 }}%</span>
			</div>
			<div style="display: inline-block; width: 320px; height: 110px;">
				<span class="candidat-nom" style="font-family: sans-serif; font-size: 2em; font-weight: bold;">{{ result.1.prenom }} {{ result.1.nom }}</span>
				<br/>
				<span class="candidat-parti">{{ result.1.parti_list }}</span>
			</div>
                    </header>
                </section>
		{% endfor %}
            </div>

{% endblock %}
