{% extends "base.html" %}


{% block head %}
	<style>
	.post-description {
		background-color: #fff;
	}
	.post-description:hover {
		cursor:default;
		background-color: #fff;
	}
	</style>
{% endblock head %}

{% block header %}
            <hgroup>
                <h1 class="brand-title">Votre résultat</h1>
                <h2 class="brand-tagline">Liste de candidats</h2>
            </hgroup>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="/choisir/">Recommencer</a>
                    </li>
                </ul>
            </nav>
{% endblock header %}

{% block content %}

            <div class="posts">
		{% for result in results %}
                <section class="post">
                    <header class="post-header">
			{% if result.1.photo_url %}
		    	<img src="{{ result.1.photo_url }}" width="110px" style="display: inline-block;"/>
			{% else %}
			<img src="/static/img/candidat.png" width="110px" style="display: inline-block;"/>
			{% endif %}
			<div style="display: inline-block; height: 110px; font-family: sans-serif; font-size: 6em; font-weight: bold;">
				<span class="result-percent" style="">{{ result.0 }}%</span>
			</div>
			<div style="display: inline-block; width: 320px; height: 110px;">
				<span class="candidat-nom" style="font-family: sans-serif; font-size: 2em; font-weight: bold;">{{ result.1.prenom }} {{ result.1.nom }}</span>
				<br/>
				<span class="candidat-parti">{{ result.1.parti_list }}</span>
			</div>
                    </header>
                </section>
		{% endfor %}
            </div>

{% endblock %}
