.box_proposition{
	margin: 2%;
	padding: 2%;
	box-shadow: 0px 0px 5px #000;
	float: left;
	width: 90%;
}

.description_proposition{
	display: none;
}
#nav .pure-menu a {
	margin-left:0;
	padding-left:0;
}
.propositions_candidat{
	display:none;
}
@media screen and (min-width: 960px) {
	#nav {
		width: 250px;
	}
	#list{
		margin-left: -250px;
		width: 250px;
	}
}

.candidat{
	cursor:pointer;
}
.candidat:hover{
	background:#CCCCCC;
}
#main{
	width:100%;
}
.pure-u-1-2 {
    width: 100%;
}
.photo_candidat {
    border: 0 none;
    float: left;
    margin-right: 18px;
}
